<h1>Ask your questions here!</h1>
= link_to 'Nieuwe vraag', new_question_path, class: 'btn btn-primary'
.panel.panel-default
	.panel-heading Alle vragen
	%table.table.table-striped
		%tr
			%td ID
			%td Vraag


		- @question.each do |question|
			%tr 
				%td= question.id
				%td= question.question 